registry=https://pkgs.dev.azure.com/ssw2/_packaging/SSWWebsite/npm/registry/

always-auth=true
; begin auth token
//pkgs.dev.azure.com/ssw2/_packaging/SSWWebsite/npm/registry/:username=sebastienboissiere@ssw.com.au
//pkgs.dev.azure.com/ssw2/_packaging/SSWWebsite/npm/registry/:_password=M3ZzaHhuaTczaG5yZ2RmanNvbmcybm9jb3FwYm5kc2JoMnVucXUyY3RwMmltaTZlNnl0cQ==
//pkgs.dev.azure.com/ssw2/_packaging/SSWWebsite/npm/registry/:email=sebastienboissiere@ssw.com.au
//pkgs.dev.azure.com/ssw2/_packaging/SSWWebsite/npm/:username=sebastienboissiere@ssw.com.au
//pkgs.dev.azure.com/ssw2/_packaging/SSWWebsite/npm/:_password=M3ZzaHhuaTczaG5yZ2RmanNvbmcybm9jb3FwYm5kc2JoMnVucXUyY3RwMmltaTZlNnl0cQ==
//pkgs.dev.azure.com/ssw2/_packaging/SSWWebsite/npm/:email=sebastienboissiere@ssw.com.au
; end auth token
