//pkgs.dev.azure.com/ssw2/_packaging/SSWWebsite/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJlNzkwNWYwYy00Njc0LTZjMWYtOWM5Yy05YWQwMjcyNjg1MTMiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNGM4ZDFlM2QtOWEyMy00MTEyLTk3MmEtZTVlMjg1ODAwNzIxIiwic2lkIjoiZjY2ZDcxOGEtOWIyZS00NDM3LTkwMTUtNWIyZjI2Njc0MjdhIiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOmI1YWI3YmM4LWI4MjQtNGU1YS05NThiLWQ0MGQzMWQyOGM3NiIsIm5iZiI6MTU4NzQzNjUxOCwiZXhwIjoxNTg3NTIyOTE4fQ.Bjn74Kr2-4-mvnYes7GMxenYbkVZz2YL9cQSx9MGXL9RwpyfGu4nnQv4P-vlREJsTfYbjtTa-2oKG1ygZ4ATBXPd_P0zsp0acH4AzwIdjU5RdlL0mLmHmv39zBMyAS3zCPToFmFQBDQmiW5OcESshf9anhDblI6l_CPtmlKLFgMXc7havqMjOhjsNCIExynG4kckm-gWoKXwaQjjqzQZ_AfjdIc2mOBgs_KyaTP3YYg72hNjohHe0a-qwHkLAX-oZXKD41D2WZkWymraZsVDZEs0SSHHSznJI6zCMSFkTi7ceLqfGa2e1UTe2ooxfgF79mR78RZohSwRIaUtCmEMCQ

