registry=https://pkgs.dev.azure.com/ssw2/_packaging/SSWWebsite/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/ssw2/_packaging/SSWWebsite/npm/registry/:username=ssw2
//pkgs.dev.azure.com/ssw2/_packaging/SSWWebsite/npm/registry/:_password=M3duYXRtcGV0cWFjZnFic2dmbzZmZXV6dm8yY2p4MnUyZXN0NmhvcWpmaGtzdDRicGJ4YQ==
//pkgs.dev.azure.com/ssw2/_packaging/SSWWebsite/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/ssw2/_packaging/SSWWebsite/npm/:username=ssw2
//pkgs.dev.azure.com/ssw2/_packaging/SSWWebsite/npm/:_password=M3duYXRtcGV0cWFjZnFic2dmbzZmZXV6dm8yY2p4MnUyZXN0NmhvcWpmaGtzdDRicGJ4YQ==
//pkgs.dev.azure.com/ssw2/_packaging/SSWWebsite/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
